CurrencyExchange/Connected Services/ServiceReference1/ExchangeRate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://dhcurrencyservice.azurewebsites.net/ExchangeRate.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CurrencyService" />
  <xs:element name="Rate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CurrencyService" minOccurs="0" name="currency" type="q1:Currency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RateResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>