Calculator/Calculator/SimpleCalculatorClient/Connected Services/ServiceReference1/Calculator2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CalculatorService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CalculatorService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Argument">
    <xs:sequence>
      <xs:element minOccurs="0" name="Arg1" type="xs:double" />
      <xs:element minOccurs="0" name="Arg2" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Argument" nillable="true" type="tns:Argument" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
</xs:schema>